*   {
    margin: 0;
    padding: 0;
}

.wrapper    {
    display: grid;
    grid-template-columns: 1fr 7fr;
    grid-template-rows: 1fr 1fr;
    box-sizing: border-box;
    grid-gap: 15px;
    max-height: 500px;
}

body    {
    font-family: 'Courier Prime', monospace;
    font-size: 17px;
    margin: 20px;
    background: black;
    color: white;
}

.main-content   {
    text-align: left;
}

.noise  {
    width: 100%;
    height: 7rem;
}

.sidebar    {
    text-align: left;
}

.sidebar img    {

}

.sidebar ul     {
    list-style: none;
}

.sidebar a  {
    text-decoration: none;
    color: white;
} 

.sidebar a:hover    {
    color: #9e4d9d;
}

.hp     {
    width: 160px;
}
