*   {
    margin: 0;
    padding: 0;
}

.wrapper    {
    display: grid;
    grid-template-columns: 5fr 1fr;
    grid-template-rows: 1fr 1fr;
    box-sizing: border-box;
    grid-gap: 15px;
}

body    {
    font-family: 'Courier Prime', monospace;
    font-size: 17px;
    margin: 1rem;
    background: black;
    color: white;
}

.main-content   {
    text-align: right;
}

.noise  {
    width: 100%;
    height: 7rem;
}

.sidebar    {
    text-align: right;
}

.sidebar img    {
    justify-self: right;
}

.sidebar ul     {
    list-style: none;
    justify-self: right;
}

.sidebar a  {
    text-decoration: none;
    color: rebeccapurple;
} 

.sidebar a:hover    {
    color: white;
}

.gp     {
    width: 200px;
}
